@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-image {
    height: 200px;
    border-radius: 20px;
}

.main-page-top-section {
    text-align: center;
    font-family: Bree Serif;
    padding: 20px;
}

.main-page-description {
    color: #616e7c;
    font-size: 12px;
}

.main-page-project-image {
    height: 180px;
    width: 180px;
    border-radius: 10px;
}


.projects-row {
    margin: 10px;
    cursor: pointer;
    padding: 12px;
}